*{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
}

body{
	background: url(../img/bg.png);
}

header{
	margin: 80px auto 10px;
	width: 1200px;
	border: 1px solid red;

}

header img:nth-child(1){
	margin-right: 20px;
}

.wrap{
	width: 960px;
	margin: 0 auto;
	height: 800px;
	// border: 1px solid red;
}


section.wrap .fl{
	width: 45%;
	height: 400px;
	// border: 1px solid red;
	// 清除浮动
	// overflow: hidden;
	// border: 1px solid green;
	float: left;
}

section.wrap .fl li{
	float: left;
}

section.wrap .fr{
	width: 54%;
	float: right;
	height: 400px;
	// border: 1px solid green;
}

section.wrap .fr li{
	float: left;
}

section img{
	height: 129px;
}

section .fl li:nth-child(odd) img{
	width: 254px;

}
section .fl li:nth-child(odd),section .fr li:nth-child(odd){
	margin-right: 10px;
}
section .fl li:nth-child(even) img{
	width: 150px;
}

section .fr li:nth-child(odd) img{
	width: 150px;
}

section .fr li:nth-child(even) img{
	width: 224px;
}


.aniscale{
	animation: scal 1s ease;
}

@keyframes scal {
	0%{
		transform:scale(0.6);
	}
	30%{
		transform:scale(1);
	}
	60%{
		transform:scale(0.8);
	}
	100%{
		transform:scale(1);
	}
}

.moveloop{
	animation: left_fmove 1s ease;
}

@keyframes left_fmove{
   
   0%{
   	   transform: translate(-20px,0);
   }
    30%{
   	   transform: translate(0,0);
   }
    60%{
   	   transform: translate(-10px,0);
   }


 100%{
   	   transform: translate(0,0);
   }


}

.moveup_down:hover{
	animation: up_down 1s ease;
}
@keyframes up_down{
	0%{
		transform:translate(0,-20px);
	}
	30%{
		transform:translate(0,0);
	}
	60%{
		transform:translate(0,-10px);
	}
	100%{
		transform:translate(0,0);
	}
}

.loop_f{
	position: relative;
}

#loop{
	position: absolute;
	bottom: 10px;
	height: 15px;
	// background: yellow;
	width: 100%;
	overflow: hidden;
}

#loop ul li{
	float: none;
	height: 15px;
	text-align: center;
	color: white;
}

#loop ul{
	animation: ul_up_down 5s ease  infinite;

}
@keyframes  ul_up_down{
	0%{
		transform: translate(0,0);
	}
	20%{
		transform: translate(0,-15px);
	}

	50%{
		transform: translate(0,-30px);
	}

	70%{
		transform: translate(0,-15px);
	}
	100%{
		transform: translate(0,0);
	}
}